<div class="container">

  <h2 class="text-center py-3">Menu</h2>
  <div class="row">
    <div class="col-sm-6">
      <h2>TAMALES</h2>
      <dl>
        <dt>Tamale <span class="price">$3.50</span></dt>
        <dd>1 Hot Tamale</dd>

        <dt>1/2 Dozen Tamales <span class="price">$13.00</span></dt>
        <dd>6 Frozen Tamales</dd>

        <dt>Dozen Tamales <span class="price">$20.00</span></dt>
        <dd>12 Frozen Tamales</dd>

        <dt>2-4 - <span class="price">$36.00</span></dt>
        <dd>24 Frozen Tamales</dd>

        <dt>5-O Tamales <span class="price">$65.00</span></dt>
        <dd>50 Frozen Tamales</dd>

        <dt>The 100 <span class="price">$120.00</span></dt>
        <dd>100 Frozen Tamales</dd>

      </dl>
    </div>
    <div class="col-sm-6">
      <h2>BEVERAGES</h2>
      <dl>
        <dt>Soda <span class="price">$1.25</span></dt>
        <dd>Inka Cola, Coca-Cola, Canada Dry</dd>

        <dt>Beer <span class="price">3.00</span></dt>
        <dd>Canadian, Budweiser, Blue, Heineken</dd>

      </dl>
    </div>
  </div>
</div>